

@{
    ViewBag.Title = "Che";
    Layout = "~/Views/Layout/Layout.cshtml";
}
@using WebsiteQL_Nha_Hang.Models;
@model List<MonAn>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/css/web-fonts-with-css/css/fontawesome-all.min.css" rel="stylesheet" />
<style>
    #ThongTin {
        font-size: 18pt;
        font-weight: 300;
        height: 100px;
    }
</style>
@* Bảng Hóa Đơn *@
<h3>Hóa đơn</h3>
@Html.Action("HoaDonChiTiet", "Menu")
@* Danh Sách Món Ăn *@
<h3>Thực đơn</h3>
@foreach (var item in Model)
{
    //if{ item.TinhTrangBan =00 }


    <div class="col-md-3 text-center animate-box">
        <a class="work" href="#">
            <div class="work-grid" style="background-image:url(@Url.Content("~/Image/" + item.Anh)); ">

                <div class="inner">
                    <div class="desc">
                        <h5>Click</h5>
                        <span class="cat">Xem chi tiết</span>
                    </div>
                </div>
            </div>
        </a>
        @using (Html.BeginForm("ThemHoaDonChiTiet", "Menu", new { @MaMonAn = item.MaMon, @strURL = Request.Url.ToString() }))
        {
            <div id="ThongTin">
                @{

                    if (@item.TenMon.Length >= 21)
                    {
                        <h3 style="margin-bottom:5px;">@item.TenMon</h3>
                        <strong style="color:red;">@String.Format("{0:0,0} VNĐ", @item.Gia)</strong>

                    }
                    else
                    {
                        <h3 style="margin-bottom:25px;">@item.TenMon</h3>
                        <strong style="color:red;">@String.Format("{0:0,0} VNĐ", @item.Gia)</strong>

                    }
                }
                <button class="btn btn-default"><i class="fas fa-cart-plus"></i></button>
            </div>
                    }
    </div>

                    }



